/* reset css */
*{
    padding:0 ;
    margin: 0;
    font-size: 12px;
    color: #000;
    font-family: tahoma, Arial, sans-serif;
}
#header{
    height: 54px ;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    background:  #eeeeee;
    border-left: #8b0000 solid 2px  ;
    border-bottom: #8b0000 solid 1px  ;
}
#nav{
    display: inline-block;
}
#nav, .subnav{
    list-style: none;
}
#nav >  li {
    display: inline-block;
}
#nav li{
    position: relative;
}
#nav li a{
    text-decoration: none;
    line-height: 54px;
    padding: 0 16px ;
    /* hover hoan toan the */
    display: inline-block;
}
#nav > li:hover .subnav{
    display: block;
}
#nav .subnav li a:hover ,
#nav > li > a:hover{
    color: #ffffff;
    background : #8b0000 ;
}
#nav .subnav {
    display: none ;
    position: absolute;
    background-color: #eeeeee;
    margin-top: 1px;
}
#nav .subnav a {
    width: 100px;
}
/* begin form1 */
.form1{
    width: 500px;
    height: auto;
    padding:0 32px;
    margin-top: 100px;
    background-color: #ffffff;
    border: 10px solid lightblue;
}
.form1 .form_header{
    text-align: center; 
    font-size: 30px; 
    padding : 15px;
}
.form1 .form_form{
    font-size: 10px;
}
.form1 .form_form .form_group{
    padding :10px;
}   
.form1 .form_group{
    width: auto;
    height: auto;
    padding : 10px;
    margin: 10px;
    background-color: aliceblue;
    border-radius: 4px;
}
.form1 .form_input{
    width: 100%;
    border:none;
    background-color: aliceblue;
}
.form1 .side{
    display: inline-block;
    margin-right: 10px;
}    
.form_button{
   background-color: #000;
   color:#ffffff;
   width: 90%;
   text-align: center;
   padding:10px; 
   border:none;
   border-radius: 20px;
}
/* end form1 */
/* begin form2 */
.form2_bg{
 width: 500px;
 height : 400px;
 background-color: mediumslateblue;
}
.form2{
    width: 200px;
    height :350px;
    background-color:#ffffff;
    margin-left: auto;
    margin-right: auto;

}   
.form2 .form2_header{
    font-size: 20px;
    text-align: center;
    padding : 15px;
}
.form2_group{
    padding :10px;
   
}
.form2_group .form2_input{
    padding :10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
} 
.form2_control{
    margin-left: 45px;
    margin-top: 10px; 
} 
.form2_button{
    background-color: violet;
    color:#ffffff;
    border: none;
    border-radius: 20px;
    padding :10px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}   
/* end form2 */
.form2_mid{
    text-align: center;
    color: dimgray;
    margin-top:20px;
}
.form2_end{
    text-align: center;
    margin-top:45px;
}


